/* // colour palette: https://coolors.co/069e2d-058e3f-04773b-036016-03440c */

body {
  background-color: rgb(235, 229, 229);
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

body::after {
  content: "";
  background: url(images/background.jpg);
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#table {
  display: flex;
  background-color: #80e85a;
  margin-top: 40px;
  line-height: 30px;
  position: relative;
}

.table-separation {
  width: 183px;
  height: 600px;
  position: absolute;
  left: 43%;
}

.card {
  height: 400px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 20px 15px -5px rgba(0, 0, 0, 0.7);
}

.card-front {
  background-color: #b6eca3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.animal-img {
  height: 155px;
  width: 230px;
  border-radius: 15px;
}

.hide {
  display: none;
}

.table-half {
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#action-panel {
  height: 200px;
  background-color: #fbb02d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px outset #516948;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.branch {
  width: 120px;
  height: 200px;
  position: absolute;
}

.left-side {
  left: -47px;
}

.right-side {
  right: -51px;
}

.message-field {
  background-color: #a2d6a7;
  padding: 35px;
  border-radius: 15px;
}

.btn {
  cursor: pointer;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 15px 25px 15px -5px rgba(13, 51, 13, 0.8);
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.action-buttons .btn {
  padding: 25px;
  margin: 30px;
}

.action-buttons .btn:hover {
  background-image: url("images/vegetation_fern_01.png");
  background-size: cover;
}

.start-button {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #54d440,
    #54d440 5px,
    #52cc3f 5px,
    #52cc3f 10px
  );
  box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(40, 117, 29, 0.5);
  text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628,
    -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628,
    0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
}

.start-button:hover {
  top: 2px;
  box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.start-button::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.start-button::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}
