/* // colour palette: https://coolors.co/069e2d-058e3f-04773b-036016-03440c */

body {
  background-color: rgb(235, 229, 229);
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

body::after {
  content: "";
  background: url(images/background.jpg);
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#table {
  display: flex;
  background-color: #80e85a;
  margin-top: 40px;
  line-height: 30px;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.title {
  position: absolute;
  font-size: 70px;
  color: #2a6d20;
  text-decoration: underline wavy 4px;
  text-shadow: 5px 2px 6px #fbb02d;
}
.title-right {
  right: 2px;
  transform: rotate(30deg);
}

.title-left {
  left: 16px;
  transform: rotate(-30deg);
  top: -21px;
}

.table-separation {
  width: 183px;
  height: 600px;
  position: absolute;
  left: 43%;
  transform: rotate(5deg);
}

.card {
  height: 400px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 13px 20px 15px -5px rgba(0, 0, 0, 0.7);
}

.card-front {
  background-color: #b6eca3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.highlight {
  background-color: #fbb02d;
}

.card-front table {
  margin-bottom: 20px;
}

.animal-img {
  height: 160px;
  width: 250px;
  border-radius: 15px;
}

.hide {
  display: none;
}

.table-half {
  height: 600px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#action-panel {
  height: 200px;
  background-color: #fbb02d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px outset #2a6d20;
  border-radius: 0 0 15px 15px;
  position: relative;
}

.branch {
  width: 120px;
  height: 200px;
  position: absolute;
}

.left-side {
  left: -34px;
}

.right-side {
  right: -33px;
}

.message-field {
  background-color: #b6eca3;
  padding: 38px;
  border-radius: 15px;
  border: 17px ridge #80e853;
  position: absolute;
  left: 43%;
  font-size: 30px;
  text-shadow: 3px 3px 2px #fbb02d;
}

.btn {
  background-color: #b6eca3;
  cursor: pointer;
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  border-radius: 15px;
  box-shadow: 15px 25px 15px -5px rgba(13, 51, 13, 0.8);
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.action-btn {
  padding: 25px;
  margin: 30px;
  border-radius: 50%;
  transition: 200ms linear;
}

.action-btn:hover {
  background-image: url("images/vegetation_fern_01.png");
  background-size: cover;
  transform: scale(1.1);
}

.start-button {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-size: 35px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #54d440,
    #54d440 5px,
    #52cc3f 5px,
    #52cc3f 10px
  );
  box-shadow: 0 6px 0 #348628, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #2a6d20, 0 12px 0 5px #39822e, 0 15px 0 5px #1d4c16,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(40, 117, 29, 0.5);
  text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628,
    -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628,
    0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
}

.start-button:hover {
  top: 2px;
  box-shadow: 0 4px 0 #348628, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #2a6d20, 0 10px 0 5px #39822e, 0 13px 0 5px #1d4c16,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.start-button::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.start-button::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.confetti {
  width: 20px;
  height: 15px;
  background-color: #f2d74e;
  position: absolute;
  left: 30%;
  animation: confetti 5s ease-in-out -2s infinite;
  transform-origin: left top;
}
.confetti:nth-child(1) {
  background-color: #f2d74e;
  left: 10%;
  animation-delay: 0;
}
.confetti:nth-child(2) {
  background-color: #95c3de;
  left: 20%;
  animation-delay: -1.2s;
}
.confetti:nth-child(3) {
  background-color: #ff9a91;
  left: 30%;
  animation-delay: -0.3s;
}
.confetti:nth-child(4) {
  background-color: #f2d74e;
  left: 40%;
  animation-delay: -0.8s;
}
.confetti:nth-child(5) {
  background-color: #95c3de;
  left: 50%;
  animation-delay: -1.7s;
}
.confetti:nth-child(6) {
  background-color: #ff9a91;
  left: 60%;
  animation-delay: -1s;
}
.confetti:nth-child(7) {
  background-color: #f2d74e;
  left: 70%;
  animation-delay: -0.5s;
}
.confetti:nth-child(8) {
  background-color: #95c3de;
  left: 80%;
  animation-delay: -2s;
}
.confetti:nth-child(9) {
  background-color: #ff9a91;
  left: 90%;
  animation-delay: -1.5s;
}
.confetti:nth-child(10) {
  background-color: #f2d74e;
  left: 100%;
  animation-delay: -0.6s;
}

@keyframes confetti {
  0% {
    transform: rotateZ(35deg) rotateY(0deg) translate(0, 0);
  }
  25% {
    transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
  }
  50% {
    transform: rotateZ(25deg) rotateY(720deg) translate(5vw, 60vh);
  }
  75% {
    transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
  }
  100% {
    transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
  }
}

.replay-button {
  position: absolute;
  left: 20%;
  padding: 20px;
  background-color: #80e85a;
  animation: replay-button 0.9s ease 2s infinite alternate;
  transition-duration: 5.4s;
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 1px #348628, -2px 2px 1px #348628, 2px -2px 1px #348628, -2px -2px 1px #348628, 0px 2px 1px #348628, 0px -2px 1px #348628, 0px 4px 1px #1d4c16, 2px 4px 1px #1d4c16, -2px 4px 1px #1d4c16;
}

.replay-button:hover {
  animation: none;
}

@keyframes replay-button {
  0% {
    transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    transform: scale(1);
  }
}
